WCFServiceDigiDrick/DigiDrickClient/Connected Services/ServiceReferenceDM/DigiDrickModel1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/Imports">
      <xsd:import schemaLocation="http://localhost:8080/DigiDrickModel?xsd=xsd0" namespace="http://localhost" />
      <xsd:import schemaLocation="http://localhost:8080/DigiDrickModel?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/DigiDrickModel?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDigiDrickModel_ModelSetup_InputMessage">
    <wsdl:part name="parameters" element="tns:ModelSetup" />
  </wsdl:message>
  <wsdl:message name="IDigiDrickModel_ModelSetup_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModelSetupResponse" />
  </wsdl:message>
  <wsdl:message name="IDigiDrickModel_ExecuteDModXCalc_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteDModXCalc" />
  </wsdl:message>
  <wsdl:message name="IDigiDrickModel_ExecuteDModXCalc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteDModXCalcResponse" />
  </wsdl:message>
  <wsdl:message name="IDigiDrickModel_ExecuteDoseCalc_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteDoseCalc" />
  </wsdl:message>
  <wsdl:message name="IDigiDrickModel_ExecuteDoseCalc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteDoseCalcResponse" />
  </wsdl:message>
  <wsdl:portType name="IDigiDrickModel">
    <wsdl:operation name="ModelSetup">
      <wsdl:input wsaw:Action="http://localhost/IDigiDrickModel/ModelSetup" message="tns:IDigiDrickModel_ModelSetup_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IDigiDrickModel/ModelSetupResponse" message="tns:IDigiDrickModel_ModelSetup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteDModXCalc">
      <wsdl:input wsaw:Action="http://localhost/IDigiDrickModel/ExecuteDModXCalc" message="tns:IDigiDrickModel_ExecuteDModXCalc_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IDigiDrickModel/ExecuteDModXCalcResponse" message="tns:IDigiDrickModel_ExecuteDModXCalc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteDoseCalc">
      <wsdl:input wsaw:Action="http://localhost/IDigiDrickModel/ExecuteDoseCalc" message="tns:IDigiDrickModel_ExecuteDoseCalc_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IDigiDrickModel/ExecuteDoseCalcResponse" message="tns:IDigiDrickModel_ExecuteDoseCalc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>